/* Reset + Base */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    font-family: 'Lora', serif;
    overflow-x: hidden;
  }
  
  /* Navbar */

  .custom-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 3rem;
    font-family: "bebas-neue-pro-semiexpanded", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 1.5rem;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 100;
    
    box-shadow: none;
  }

  .bottom-gradient {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 120px; /* Adjust height as needed */
    background: linear-gradient(to top, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0));
    pointer-events: none; /* allows clicking through it */
    z-index: 2;
  }
  
  
  
  .navbar-brand {
    font-size: 2rem;
    font-weight: bold;
    letter-spacing: 1px;
    color: rgb(255, 166, 0);
  }
  
  .navbar-nav {
    list-style: none;
    display: flex;
    gap: 2rem;
    margin-left: auto;
    margin-right: 10rem; /* Add this */
    color:#fff
  }
  
  
  .nav-link {
    text-decoration: none;
    color: #fff;
    font-weight: 600;
    transition: color 0.3s ease;
    padding: 20px;
    
  }
  
  .nav-link.active,
  .nav-link:hover {
    text-decoration: underline;
  }
  
  
  /* Hero Image Fullscreen with Overlay */
  .hero-image {
    position: relative;
    height: 100vh;
    width: 100%;
    background-image: url('../images/expand-hero\ copy\ 5.jpeg'); /* update path */
    background-size: cover;
    background-position: 40% center; /* shift image to the left */
    display: flex;
    align-items: center;
    justify-content: flex-end; /* move content to right */
    overflow: hidden;
    z-index: 1;
  }
  
  .hero-image::after {
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 50%;
    background: linear-gradient(to left, rgba(0, 0, 0, 0.8), transparent);
    z-index: 1;
  }
  
  .hero-text {
    position: relative;
    z-index: 2;
    font-family: "guildhall-compressed", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: rgb(255, 166, 0);
    font-size: 8rem;
    text-align: left;
    line-height: 1.1;
    letter-spacing: 10px;
    text-transform: uppercase;
    
    padding-right: 5rem;
  }
  

  
  
  /* Mobile responsiveness */
  @media (max-width: 768px) {
    .navbar-nav {
      flex-direction: column;
      position: absolute;
      top: 60px;
      left: 0;
      width: 100%;
      display: none;
    }
    .navbar-nav.show {
      display: flex;
    }
    .hero-title {
      font-size: 2.5rem;
    }
  }
  